#filedrag {
  display: none;
  // font-weight: bold;
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  color: #777;
  border: 1px dashed #777;
  border-radius: 4px;
  cursor: default;
  height: 200px;
}

#filedrag:hover {
  color: #66afe9;
  border-color: #66afe9;
  border: 1px dashed #333;
}
