- @title = "Services"

.page-box.last-box.d-flex.align-items-center
  .container
    %ul.list-unstyled
      %li.service.pb-2.mb-2
        %i.fa.fa-check-square-o
        Creative
        .service-description
          (Writing/Boarding)
      %li.service.pb-2.mb-2
        %i.fa.fa-check-square-o
        Static and Animated Storyboards
      %li.service.pb-2.mb-2
        %i.fa.fa-check-square-o
        Pre-Production, Production, Post-Production
      %li.service.pb-2.mb-2
        %i.fa.fa-check-square-o
        Music Licensing
      %li.service.pb-2.mb-2
        %i.fa.fa-check-square-o
        Talent Negotiating
      %li.service.pb-2.mb-2
        %i.fa.fa-check-square-o
        Talent Tracking
      %li.service.pb-2.mb-2
        %i.fa.fa-check-square-o
        Media Strategy and Buying*
        .service-description
          (*We don't actually do this part. But we work with great partners who love media as much as we love production. We'll introduce you)
