- @title = "Creators"

.page-box.last-box.d-flex.align-items-center
  .container
    .text-center
      - Member.current.where(archived: false).where.not(nickname: [nil, ""]).order(:position).each do |member|
        = link_to public_member_path(member), class: "link-unstyled creator" do
          .creator-title
            %strong= member.title.titleize
          .creator-name= member.nickname
