- @title = "Version"

.page-box.last-box.overflow-hidden.d-flex.flex-column.justify-content-around.text-center.background-white-2
  .landing-logo-shadow.landing-logo-shadow-1
  .landing-logo-shadow.landing-logo-shadow-2
  .landing-logo-shadow.landing-logo-shadow-3
  .landing-logo-shadow.landing-logo-shadow-4
  .landing-logo-shadow.landing-logo-shadow-5
  .landing-logo-shadow.landing-logo-shadow-6
  .landing-logo-shadow.landing-logo-text.brand-bold
    = "v#{Conductor::VERSION::STRING}"
