- location.location_photos.each do |location_photo|
  = link_to [@project, location, location_photo] do
    = image_tag( download_project_location_location_photo_path(@project, location, location_photo, size: 'thumb') )

- if false
  .row
    - location.location_photos.each do |location_photo|
      .col-xs-6.col-sm-4
        = link_to [@project, location, location_photo] do
          = image_tag( download_project_location_location_photo_path(@project, location, location_photo, size: 'preview'), class: 'img-responsive' )
