- @title = "Edit User: #{@user.name}"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("internal/sidebar")

- content_for :header do
  = link_to @user.name, @user
  %i.fa.fa-angle-right
  Edit

.dashboard-container
  = render "form", user: @user
