.full-video-frame
  .full-video-frame-close
    &times;
  .full-video-frame-caption-top.brand
  .embed-responsive.embed-responsive-16by9
    %iframe.embed-responsive-item{ src: "", webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }
  .full-video-frame-caption-bottom.brand
