- @title = "Edit Video: #{@video.vimeo_number_was}"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("internal/sidebar")

- content_for :header do
  = link_to "Videos", videos_path
  |
  = link_to @video.vimeo_number_was, @video
  %i.fa.fa-angle-right
  Edit

.dashboard-container
  = render "form", video: @video
