%h1 Videos

= link_to 'New Video', new_video_path, class: 'btn btn-xs btn-default'
= link_to 'Reorder WORK Videos', reorder_videos_path(video_page: 'work'), class: 'btn btn-xs btn-default'
= link_to 'Reorder DRTV Videos', reorder_videos_path(video_page: 'drtv'), class: 'btn btn-xs btn-default'

= render 'videos/videos'
