- @title = "Videos"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("internal/sidebar")

- content_for :header do
  .float-right
    = link_to "New Video", new_video_path, class: "btn btn-sm btn-light"
    = link_to "Reorder WORK Videos", reorder_videos_path(video_page: "work"), class: "btn btn-sm btn-light"

  = @title

.dashboard-container
  = render "videos/videos"
