.creator-surface {
  backface-visibility: hidden;
  transition: transform .5s ease-out;
  transform-style: preserve-3d;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
}

.creator-name {
  color: $brand-white;
  transform: rotateX(0deg);
  transform-origin: 0 .5em -.5em;
}

.creator-title {
  color: $brand-white;
  transform: rotateX(-120deg);
  transform-origin: 0 .5em -.5em;
}

.creator {
  display: block;
  font-variant: small-caps;
  padding: 1rem 0;
  perspective: 1000px;
  position: relative;
  height: 2em;
  font-size: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.5rem;
  }

  @media (hover) {
    &:hover {
      .creator-name {
        transform: rotateX(120deg);
      }

      .creator-title {
        transform: rotateX(0deg);
      }
    }
  }
}
