<div class="container">
  <div class="company-logo">
    <div class="hidden-xs">
      <div class="pull-right">
        <%= render partial: 'links' %>
      </div>
      <h1 class="hidden-xs">CONDUCTOR</h1>
    </div>


    <div class="visible-xs" style="position:relative">
      <div class="triangle-right-xs"></div>
      <div class="triangle-right-white-xs"></div>
      <div class="transparent-box-xs"></div>
      <div class="triangle-left-xs"></div>
      <div class="triangle-left-white-xs"></div>

      <h1>CONDUCTOR</h1>
    </div>


    <div class="hidden-xs hidden-sm" style="font-size: 0.9em;"><%= render partial: 'products' %></div>
  </div>

  <div class="visible-xs">
    <%= render partial: 'links' %>
  </div>
</div>
