<div class="container">
  <div class="company-logo">
    <div class="hidden-xs pull-right">
      <%= render partial: 'links' %>
    </div>
    <h1>CONDUCTOR</h1>

    <p class="hidden-xs hidden-sm" style="font-size: 0.9em;"><%= render partial: 'products' %></p>
  </div>

  <div class="visible-xs">
    <%= render partial: 'links' %>
  </div>
</div>
