<% if params[:action] == 'drtv' %>
  <% products = [['DIRECT RESPONSE', 'drtv.html'], ['COMMERCIALS', 'work.html'], ['BRANDED CONTENT', 'work.html']]%>
<% else %>
  <% products = [['COMMERCIALS', 'work.html'], ['BRANDED CONTENT', 'work.html'], ['DIRECT RESPONSE', 'drtv.html']]%>
<% end %>

<div class="product-links">
  <%= products.collect{|name, link| link_to(name, link) }.join(' | ').html_safe %>
</div>
