- products = [['COMMERCIALS', work_path], ['BRANDED CONTENT', work_path], ['DIRECT RESPONSE', drtv_path]]

.product-links
  = products.collect { |name, link| link_to(name, link) }.join(' | ').html_safe
