= render 'header'

.container
  .page-header
    %h1 About

  %p.lead
    We are a full-service production agency delivering TV and web content that
    is on brand and on budget. We find the fun in projects and emphasize a
    collaborative, transparent creative process.

= render 'footer'
