<%= render partial: 'header' %>


<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>

  <p class="lead">
    We are a full-service production agency delivering TV and web content that is on brand and on budget. We find the fun in projects and emphasize a collaborative, transparent creative process.
  </p>

</div>

<%= render partial: 'footer' %>
