<%= render partial: 'header' %>

<div class="container">
  <div class="page-header">
    <h1>Contact Us</h1>
    <p>
      <%= mail_to 'reels@conductorproductions.com', 'reels@conductorproductions.com' %>
    </p>
    <p>
      142 Berkeley Street<br>
      Boston, MA 02116<br>
      617-262-1400<br>
    </p>
  </div>
</div>

<%= render partial: 'footer' %>
