<%= render partial: 'header' %>

<div class="container">
  <div class="center video-container" style="">
    <div class="video-frame video-frame-upper-left"></div>

    <% if true %>
      <div class="visible-xs">
        <iframe src="//player.vimeo.com/video/98734405?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0&amp;color=ffffff" width="290" height="163" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="margin: 0 auto;"></iframe>
      </div>

      <div class="hidden-xs">
        <iframe src="//player.vimeo.com/video/98734405?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0&amp;color=ffffff" width="699" height="393" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    <% else %>
      <%# This is the new bootstrap 3.2.0 responsive video %>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//player.vimeo.com/video/98734405?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0&amp;color=ffffff" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    <% end  %>

    <% if false %>
    <div class="video-frame video-frame-lower-left">
      <div style="bottom:5px;left:10px;position:absolute;font-size:0.8em;color:#fff;text-align:left">
        <a href="#" style="color:#fff">
        CONDUCTOR<br>
        DIRECT
      </a>
      </div>
    </div>
    <% end %>

    <div class="flip-tab-right hidden-xs">
      <div style="height:21px">
        <%= link_to 'WORK', 'work.html', style: 'color:#fff' %>
      </div>
    </div>

    <% if true %>
    <div class="video-frame video-frame-lower-right"></div>
    <% else %>
      <div class="video-frame-with-float">
        <div style="position:relative">
          <div class="video-frame-lower-right-float"></div>
        </div>
      </div>
    <% end %>

  </div>

  <div style="text-align:center;margin:20px 80px;">
    Conductor is Boston's newest competitor in creative production services for Commercials, Branded Content, and Direct Response TV.
    We structure elite teams of creative and production professionals to craft intelligent, compelling, and relevant stories that build brands through moving pictures.
  </div>

</div>

<%= render partial: 'footer' %>
