<div style="position:relative;margin-right:196px;height:265px;">
  <div style="position:absolute;width:764px;height:265px;background-image: url('assets/splash/top-left.png');"></div>
  <div style="position:absolute;width:100%;height:265px;background-image: url('assets/splash/top-mid.png');"></div>
  <div style="position:absolute;width:196px;height:265px;right:-196px;background-image: url('assets/splash/top-right.png');z-index:10;background-color:white"></div>
</div>

<div class="center">
  <iframe src="//player.vimeo.com/video/98734405?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0&amp;color=ffffff" width="699" height="393" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div style="position:relative;margin-left:195px;margin-right:407px;height:268px;">
  <div style="position:absolute;width:195px;height:268px;left:-195px;background-image: url('assets/splash/bot-left.png');"></div>
  <div style="position:absolute;width:100%;height:268px;background-image: url('assets/splash/bot-space.png');"></div>
  <div style="position:absolute;width:830px;left:-8px;bottom:0px;height:56px;background-image: url('assets/splash/bot-contact.png');background-repeat:no-repeat"></div>
  <div style="position:absolute;width:407px;height:268px;right:-407px;background-image: url('assets/splash/bot-right.png');"></div>
  <%= link_to 'here', 'http://www.shotgunmediagroup.com', style: 'position:absolute;top:165px;font-size:20px;right:-355px;color:transparent' %>
  <%= mail_to 'reels@conductorproductions.com', 'reels@conductorproductions.com', style: 'position:absolute;top:208px;font-size:20px;left:522px;color:transparent' %>
</div>
