<%= render partial: 'header' %>

<div class="container">
  <div class="page-header" style="border:0px">
    <h1>NO NEWS IS<br>GOOD NEWS</h1>
  </div>
  <div class="news-text" style="position:relative">
    We're <i>crankin'</i> this summer.
    <br>
    Check out our newest work&nbsp;&nbsp;
    <%= link_to work_path, style: 'position:relative;color:white' do %>
      <div class="link-float-box-bottom"><div class="img-work-lines"></div></div>
      <div class="link-float-box-bottom"><div class="img-work-tab"></div></div>
      <div class="link-float-box-top">here</div>
    <% end %>

  </div>

</div>

<% if false %>
<div class="container" id="posts">
</div>

<div class="container">
  <hr>
  <a href="http://conductorproductions.tumblr.com/">Read more news</a>
</div>
<% end %>

<%= render partial: 'footer' %>

<% if false %>
<script type="text/javascript">
  $.each([ '0', '1', '2' ], function( index, value ) {
    $('#posts').append('<div id="post'+value+'"></div>')
    week_days = ["Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    if(tumblr_api_read['posts'][index]){
      d = new Date(tumblr_api_read['posts'][index]['date']);
      date_string = week_days[d.getDay()] + ", " + d.getDate() + " " + months[d.getMonth()] + ", " + d.getFullYear();
      $('#post'+value).html(
        '<h2>'+tumblr_api_read['posts'][index]['regular-title']+'</h2>'+
        tumblr_api_read['posts'][index]['regular-body']+
        '<div class="text-muted">'+ date_string+'</div>'
      )
    }
  });
</script>
<% end %>
