<%= render partial: 'header' %>

<% work_text = "If you're going to reach out, then stand-out. Seriously, the market is much too cluttered to waste your marketing dollars on a steaming pile of bad video. Do it right the first time. Call us." %>

<div class="container">
  <div class="page-header" style="border:0px">
    <h1 style="position:relative;">
      OUR WORK
      <div class="visible-lg work-diagonal-line"></div>
      <div class="visible-lg work-diagonal-line-text">
        <%= work_text %>
      </div>
    </h1>
  </div>
  <div class="hidden-lg">
    <p>
      <%= work_text %>
    </p>
  </div>
</div>

<% folder = "videos/work" %>

<% videos = [
  ["#{folder}/work-brother-thumb.png", "111656553"],
  ["#{folder}/work-netflix-thumb.png", "124955438"],
  ["#{folder}/work-putnam-beach-thumb.png", "124955435"],
  ["#{folder}/work-nike-thumb.png", "124955437"],
  ["#{folder}/work-reebok-thumb.png", "98734404"],
  ["#{folder}/work-toyota-tacoma-thumb.png", "105769621"],
  ["#{folder}/work-putnam-car-thumb.png", "124955436"],
  ["#{folder}/work-putnam-steele-thumb.png", "124955190"],
  ["#{folder}/work-putnam-ligety-thumb.png", "117310971"],
  ["#{folder}/work-tiger-home-inspection-thumb.png", "124955183"],
  ["#{folder}/work-toyota-chcs-thumb.png", "125048207"],
  ["#{folder}/work-falcon-thumb.png", "105791712"],
  ["#{folder}/work-party-lite-thumb.png", "101955253"],
  ["#{folder}/work-rockport-thumb.png", "125082260"],
  ["#{folder}/work-irobot-thumb.png", "50614258"],
  ["#{folder}/work-toyota-5state-thumb.png", "107934478"],
  ["#{folder}/work-baymen-thumb.png", "105769141"],
  ["#{folder}/work-1800flowers-thumb.png", "48365590"],
  ["#{folder}/work-summer-infant-thumb.png", "79689801"],
  ["#{folder}/work-toyota-facebook-thumb.png", "47943063"],
  ["#{folder}/work-home-goods-thumb.png", "48446906"]
  ] %>
<%= render partial: 'welcome/video_grid', locals: { videos: videos } %>



<%= render partial: 'footer' %>
