<%= render partial: 'header' %>

<% work_text = "We are a full-service production company delivering TV and web content that is on brand and on budget. We find the fun in projects and emphasize a collaborative, transparent creative process." %>

<div class="container">
  <div class="page-header" style="border:0px">
    <h1 style="position:relative;">
      OUR WORK
      <div class="visible-lg work-diagonal-line"></div>
      <div class="visible-lg work-diagonal-line-text">
        <%= work_text %>
      </div>
    </h1>
  </div>
  <div class="hidden-lg">
    <p>
      <%= work_text %>
    </p>
  </div>
</div>

<% videos = [
  ["videos/work/work10-thumb.png", "//player.vimeo.com/video/111656553?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"],
  ["videos/work/work11-thumb.png", "//player.vimeo.com/video/107934478?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"],
  ["videos/work/work2-thumb.png", "//player.vimeo.com/video/105791712?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"],
  ["videos/work/work5-thumb.png", "//player.vimeo.com/video/105769621?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"],
  ["videos/work/work1-thumb.png", "//player.vimeo.com/video/105769141?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"],
  ["videos/work/work4-thumb.png", "//player.vimeo.com/video/48365590?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"],
  ["videos/work/work3-thumb.png", "//player.vimeo.com/video/101955253?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"],
  ["videos/work/work6-thumb.png", "//player.vimeo.com/video/48369656?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"],
  ["videos/work/work7-thumb.png", "//player.vimeo.com/video/50614258?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"],
  ["videos/work/work8-thumb.png", "//player.vimeo.com/video/79689801?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"],
  ["videos/work/work9-thumb.png", "//player.vimeo.com/video/48446906?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"],
  ["videos/work/work12-thumb.png", "//player.vimeo.com/video/47943063?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"]
  ] %>
<%= render partial: 'welcome/video_grid', locals: { videos: videos } %>



<%= render partial: 'footer' %>
