- @title = "Projects"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("internal/sidebar")

- content_for :header do
  .float-right
    - if current_user.system_admin?
      = link_to "New Project", new_project_path, class: "btn btn-sm btn-light"
    = link_to "Archived Projects", archived_projects_path, class: "btn btn-sm btn-light"
  = @title

.dashboard-container
  = render "projects/projects"
