- @title = "New Project"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("internal/sidebar")
- content_for :header do
  = link_to "Projects", projects_path
  %i.fa.fa-angle-right
  New

.dashboard-container
  = render "form", project: @project
