%div{ style: 'height: 80px;', class: (params[:controller] == 'client_project' && %w(root menu).include?(params[:action]) ? 'container-fluid' : 'container') }
  .company-logo
    .hidden-xs
      .pull-right
        .menu-links
          .triangle-right
          .triangle-right-white
          .transparent-box
          .triangle-left
          .box-left
          - if current_user
            = link_to current_user.first_name.upcase, dashboard_path
          - else
            = link_to 'LOGOUT', client_logout_path

      %h1.hidden-xs


    .visible-xs{ style: "position:relative" }
      .triangle-right-xs
      .triangle-right-white-xs
      .transparent-box-xs
      .triangle-left-xs
      - if true
        .triangle-left-white-xs

      %h1
        &nbsp;
        =# link_to @project.client_name, client_project_root_path(@project)

.container
  .visible-xs
    .menu-links
      .pull-right{ style: 'margin-top: -54px;padding-right:40px;' }
        - if current_user
          = link_to current_user.first_name.upcase, dashboard_path
        - else
          = link_to 'LOGOUT', client_logout_path
