.container
  .company-logo
    .hidden-xs
      .pull-right
        .menu-links
          .triangle-right
          .triangle-right-white
          .transparent-box
          .triangle-left
          .box-left
          = link_to 'LOGOUT', client_logout_path

      %h1.hidden-xs


    .visible-xs{ style: "position:relative" }
      .triangle-right-xs
      .triangle-right-white-xs
      .transparent-box-xs
      .triangle-left-xs
      - if true
        .triangle-left-white-xs

      %h1
        &nbsp;
        =# link_to @project.client_name, client_project_root_path(@project)

.container
  - unless current_page?(client_project_root_path(@project)) or current_page?(client_project_menu_path(@project))
    %h2.pull-left
      = link_to @project.client_name, client_project_root_path(@project)
  - else
    %h2.pull-left
      &nbsp;
  .visible-xs
    .menu-links
      .pull-right
        = link_to 'LOGOUT', client_logout_path
