%ul.project-menu
  - Project::TOP_LEVELS.each do |top_level|
    %li
      = top_level
      %ul
        - @project.categories.where(top_level: top_level).each do |category|
          - if category.documents.count + category.embeds.count > 0
            %li= link_to category.name, client_project_category_path(@project, top_level: top_level.downcase, category_id: category)

- if @category and @category.documents.where(archived: true).count > 0
  %br
  %br
  %h4{ style: 'color:#333' } Archive

  %div{ style: 'color:#333;word-wrap: break-word;' }
    - @category.documents.where(archived: true).each do |document|
      = link_to document.name, client_project_category_document_path(@project, top_level: @category.top_level.downcase, category_id: @category, document_id: document)
