%ul.project-menu
  %li.active
    CREATIVE
    %ul
      %li Treatment
      %li Concepts
      %li= link_to 'Script', client_project_script_path
      %li Boards
      %li Reference Materials
  %li
    = link_to 'TIMELINE', client_project_timeline_path
  %li
    PRODUCTION
    %ul
      %li= link_to 'Casting', client_project_casting_path
      %li Locations
      %li Production Elements
  %li
    EDITORIAL
