%div{ style: "padding-bottom:20px;" }
  %h1
    =@project.name
  %p
    &laquo; Casting Options &raquo;


  - (1..5).each do
    .row
      - (1..4).each do
        .col-sm-6.col-md-3
          %div{ style: 'margin:20px;' }
            %div{ style: 'background-color:white;height:50px' }
            %div{ style: 'background-color:gray;' }
              Role Name
