// Branding
$brand-white: #fff;
$brand-black: #000;
$brand-primary: $p500-blue;
$brand-success: $p500-green;
$link-color: $p500-blue;
$box-shadow-color: rgba(0, 0, 0, .15);
$standard-shadow-color: rgba(0, 0, 0, .3);
$breadcrumb-link-color: $p100-grey;
