.background-brand-white {
  background-color: $brand-white;
}

.background-brand-black {
  background-color: $brand-black;
}

.background-p900-grey {
  background-color: $p900-grey;
}

.background-black-transparent {
  background-color: rgba($brand-black, .6);
}
