html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
  overflow-x: hidden;

  &.full-page {
    margin-bottom: $footer-height;
    padding-top: $header-height;
  }

  &.full-page-no-header {
    margin-bottom: $footer-height;
    padding-top: 0;
  }
}
