.footer-container {
  background-color: $brand-black; // $p900-grey;
  color: $navbar-dark-color;
  bottom: 0;
  height: $footer-height;
  position: absolute;
  width: 100%;

  .footer {
    height: $footer-height;
    padding: 40px 0;
  }

  a {
    // color: $body-color;
    color: $navbar-dark-color;
    transition: color .4s ease-out;

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
      // color: darken($p500-blue, 15%);
      color: $navbar-dark-hover-color;
    }
  }

  img {
    @include ignore-selection;
  }
}
