.landing-title {
  font-size: 1.25rem;
  margin: 0;

  @include media-breakpoint-up(sm) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 2.5rem;
  }
}

.landing-subtitle {
  text-align: center;
  font-size: 1.25rem;

  @include media-breakpoint-up(sm) {
    text-align: left;
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.75rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 2.5rem;
  }
}

.scroll-down-arrow,
.scroll-down-arrow-visible {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 1rem;
  line-height: 1rem;
  font-size: 2rem;
  text-align: center;

  transition: transform .5s ease-out, opacity 250ms ease-in;

  @media (hover) {
    &:hover {
      transform: scale(1.2);
    }
  }
}

.scroll-down-arrow-visible {
  opacity: 0;

  &.scroll-down-arrow-invisible {
    opacity: 1;
  }
}

.landing-flag {
  width: 96px;
  height: 96px;
  margin-bottom: $spacer *.5;
  transition: all 200ms;

  @include media-breakpoint-up(md) {
    width: 96px;
    height: 96px;
  }

  @include media-breakpoint-up(lg) {
    width: 96px;
    height: 96px;
  }

  @include media-breakpoint-up(xl) {
    width: 96px;
    height: 96px;
    // margin-bottom: $spacer;
  }
}

.landing-tagline {
  font-weight: bold;

  @include media-breakpoint-up(md) {
    font-size: 1.25rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 1.75rem;
  }
}

@keyframes fade-in-and-out {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.landing-logo-shadow {
  position: absolute;
}

$logo-background-shadow: rgba($brand-black, .9);

$adjacent-edge: 70.7106781187px;

.landing-logo-shadow-1,
.landing-logo-shadow-2 {
  right: -100vw;
  left: calc(50% - 1px);
  height: 100px;
  background-color: $logo-background-shadow;
}

.landing-logo-shadow-1 {
  transform: rotate(-45deg);
  transform-origin: left bottom;
  top: calc(50% - 100px);
}

.landing-logo-shadow-2 {
  transform: rotate(45deg);
  transform-origin: left top;
  top: 50%;
}

.landing-logo-shadow-3,
.landing-logo-shadow-4 {
  background-color: $logo-background-shadow;
  left: 0;
  right: calc(50% + #{$adjacent-edge});
}

.landing-logo-shadow-3 {
  transform-origin: left bottom;
  top: calc(50% + #{$adjacent-edge});
  bottom: 0;
}

.landing-logo-shadow-4 {
  transform-origin: left bottom;
  bottom: calc(50% + #{$adjacent-edge});
  top: 0;
}

.landing-logo-shadow-5,
.landing-logo-shadow-6 {
  left: calc(50% - #{$adjacent-edge});
  width: 0;
  height: 0;
  border-top: 100vw solid transparent;
  border-bottom: 100vw solid transparent;
  border-left: 100vw solid $logo-background-shadow;
}

.landing-logo-shadow-5 {
  bottom: calc(50% + #{$adjacent-edge});
}

.landing-logo-shadow-6 {
  top: calc(50% + #{$adjacent-edge});
}

.landing-logo-text {
  line-height: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  top: calc(50%);
  left: 0;
  right: calc(50% + #{$adjacent-edge});
  white-space: nowrap;
  font-size: 1.5rem;

  @include media-breakpoint-up(sm) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 2.5rem;
  }
}

.landing-logo-tagline {
  display: none;
  line-height: 0;
  margin-left: 1rem;
  top: calc(50%);
  left: calc(50%);
  right: 0;
  font-size: 1rem;
  white-space: nowrap;

  @include media-breakpoint-up(sm) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }
}

.landing-statement-sm,
.landing-statement {
  line-height: 1.25;
  @include media-breakpoint-up(sm) {
    margin-top: $spacer * 2;
    margin-bottom: $spacer * 2;
  }
}

.landing-statement-sm {
  @include brand;
  border-bottom: 2px solid $brand-black;
  padding: $spacer;
  text-align: center;

  @include media-breakpoint-up(sm) {
    padding: ($spacer * .5) ($spacer * 2);
    border-right: 2px solid $brand-black;
    border-bottom: 0;
    text-align: right;
  }

  @include media-breakpoint-up(md) {
    padding-left: $spacer * 3;
  }
}

.landing-statement {
  @include brand-bold;
  font-size: 1.15rem;
  margin-top: $spacer;
  margin-bottom: $spacer;
  // padding: $spacer * 2;
  padding: 0;
  text-align: center;

  @include media-breakpoint-up(sm) {
    padding-left: $spacer * 2;
    text-align: left;
    font-size: 1.25rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.75rem;
  }
}
