.landing-title {
  font-size: 1.25rem;
  margin: 0;

  @include media-breakpoint-up(sm) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 2.5rem;
  }
}

.landing-subtitle {
  text-align: center;
  font-size: 1.25rem;

  @include media-breakpoint-up(sm) {
    text-align: left;
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.75rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 2.5rem;
  }
}

.scroll-down-arrow,
.scroll-down-arrow-visible {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 1rem;
  line-height: 1rem;
  font-size: 2rem;
  text-align: center;

  transition: transform .5s ease-out, opacity 250ms ease-in;

  @media (hover) {
    &:hover {
      transform: scale(1.2);
    }
  }
}

.scroll-down-arrow-visible {
  opacity: 0;

  &.scroll-down-arrow-invisible {
    opacity: 1;
  }
}
