.landing-title {
  font-size: 1.25rem;
  margin: 0;

  @include media-breakpoint-up(sm) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 2.5rem;
  }
}

.landing-subtitle {
  text-align: center;
  font-size: 1.25rem;

  @include media-breakpoint-up(sm) {
    text-align: left;
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.75rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 2.5rem;
  }
}

.scroll-down-arrow,
.scroll-down-arrow-visible {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 1rem;
  line-height: 1rem;
  font-size: 2rem;
  text-align: center;

  transition: transform .5s ease-out, opacity 250ms ease-in;

  @media (hover) {
    &:hover {
      transform: scale(1.2);
    }
  }
}

.scroll-down-arrow-visible {
  opacity: 0;

  &.scroll-down-arrow-invisible {
    opacity: 1;
  }
}

.landing-flag {
  width: 128px;
  height: 128px;
  margin-bottom: $spacer * 2;
  transition: all 200ms;
  border: 1px solid $brand-black;
  border-radius: .25rem;

  &.landing-flag-circle {
    border-radius: 128px;
  }

  @include media-breakpoint-up(md) {
    width: 160px;
    height: 160px;
  }

  @include media-breakpoint-up(lg) {
    width: 192px;
    height: 192px;
  }

  @include media-breakpoint-up(xl) {
    width: 256px;
    height: 256px;
    // margin-bottom: $spacer;
  }
}

.landing-tagline {
  font-weight: bold;

  @include media-breakpoint-up(md) {
    font-size: 1.25rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 1.75rem;
  }
}

@keyframes fade-in-and-out {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.revolve-a,
.revolve-b {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  animation: fade-in-and-out 2s linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.revolve-a {
  opacity: 0;
}

.revolve-b {
  opacity: 0;
  animation-delay: 2s;
}

.landing-logo-shadow {
  position: absolute;
}

$logo-background-shadow: rgba($brand-black, .9);

.landing-logo-shadow-1,
.landing-logo-shadow-2 {
  right: -100vw;
  left: calc(50vw + 1px);
  height: 100px;
  background-color: $logo-background-shadow;
}

.landing-logo-shadow-1 {
  transform: rotate(-45deg);
  transform-origin: left bottom;
  top: calc(50vh - 100px);
}

.landing-logo-shadow-2 {
  transform: rotate(45deg);
  transform-origin: left top;
  top: calc(50vh);
}

.landing-logo-shadow-3,
.landing-logo-shadow-4 {
  background-color: $logo-background-shadow;
  right: 50vw;
  left: 0;
  right: calc(50vw + 70px);
}

.landing-logo-shadow-3 {
  transform-origin: left bottom;
  top: calc(50vh + 70px);
  bottom: 0;
}

.landing-logo-shadow-4 {
  transform-origin: left bottom;
  bottom: calc(50vh + 70px);
  top: 0;
}

.landing-logo-shadow-5,
.landing-logo-shadow-6 {
  left: calc(50vw - 70px);
  width: 0;
  height: 0;
  border-top: 100vw solid transparent;
  border-bottom: 100vw solid transparent;
  border-left: 100vw solid $logo-background-shadow;
}

.landing-logo-shadow-5 {
  bottom: calc(50vh + 70px);
}

.landing-logo-shadow-6 {
  top: calc(50vh + 70px);
}
