$brand-green-light: #f7f8f3;

.yir-banner {
  background: #fff; /* Old browsers */
  background: -moz-linear-gradient(left,  #000000 0%, #000000 50%, #ffffff 01%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #000000 0%,#000000 50%,#ffffff 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #000000 0%,#000000 50%,#ffffff 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  margin-bottom: 20px;

  img {
    width: 100%;
  }
}

.yir-callout {
  border-left: 20px solid $brand-black;
  font-size: 20px;
  margin-bottom: 40px;
  padding-left: 10px;
}

@media screen and (min-width: $screen-sm-min) {
  .yir-callout {
    border-left: 40px solid $brand-black;
  }
}

.yir-highlights {
  margin-bottom: 40px;

  .yir-highlight {
    background-color: $brand-black;
    color: $brand-white;
    margin-bottom: 20px;
    position: relative;

    .yir-video-frame-container {
      display: none;
    }

    .yir-video-left {
      padding: 10px;
      position: relative;

      .yir-watch-here {
        display: none;
      }
    }

    .yir-video-right {
      text-align: right;
      padding-bottom: 10px;
    }
  }
}

@media screen and (min-width: $screen-sm-min) {
  .yir-highlights {
    margin-left: 40px;

    .yir-highlight {
      display: -webkit-flex; /* Safari */
      display: flex;
      position: relative;

      .yir-video-frame-container {
        -webkit-flex: 1;  /* Safari 6.1+ */
        -ms-flex: 1;  /* IE 10 */
        flex: 1;
      }

      .yir-video-left {
        -webkit-flex: 1;  /* Safari 6.1+ */
        -ms-flex: 1;  /* IE 10 */
        flex: 1;

        .yir-content {
          padding-right: 50px;
        }

        .yir-watch-here {
          display: block;
          position: absolute;

          right: -150px;
          top: 10px;

          &.yir-watch-here-indent {
            right: -150px;
            bottom: 10px;
            top: initial;
          }
        }
      }

      .yir-video-right {
        -webkit-flex: 0;  /* Safari 6.1+ */
        -ms-flex: 0;  /* IE 10 */
        flex: 0;
        width: 360px;
        padding-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) {
  .yir-highlights {
    .yir-highlight {
      .yir-video-left {
        .yir-watch-here {
          bottom: 10px;
          top: initial;
          right: 10px;

          &.yir-watch-here-indent {
          }
        }
      }
    }
  }
}

.yir-columns {
  margin-bottom: 40px;

  .yir-column {
    background-color: $brand-green-light;
    margin-bottom: 20px;

    .yir-column-title {
      background-color: $brand-white;
      color: $brand-green;
      font-size: 28px;
      padding-bottom: 10px;
    }

    .yir-column-content {
      font-size: 20px;
      padding: 20px;
      // text-align: justify;

      img {
        max-width: 50%;
      }
    }
  }

  .yir-column-center {
    background-color: $brand-green;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .yir-columns {
    display: -webkit-flex; /* Safari */
    display: flex;
    min-height: 100px;
    margin-left: 40px;

    .yir-column {
      -webkit-flex: 1;  /* Safari 6.1+ */
      -ms-flex: 1;  /* IE 10 */
      flex: 1;
      -webkit-flex-grow: 1;  /* Safari 6.1+ */
      -ms-flex-grow: 1;  /* IE 10 */
      flex-grow: 1;

      &.yir-column-left {
        margin-right: 40px;
      }

      &.yir-column-right {
        margin-left: 40px;
      }

      &.yir-column-center {
        border: 5px solid $brand-green;
        width: 5px;
        -webkit-flex: 0;  /* Safari 6.1+ */
        -ms-flex: 0;  /* IE 10 */
        flex: 0;
        margin-top: 50px;
      }
    }
  }
}

.yir-video-title {
  color: $brand-green;
  font-size: 24px;
  margin-bottom: 10px;
  cursor: pointer;
}

.yir-title {
  color: $brand-green;
  font-size: 24px;
}

.yir-content {
  color: $brand-white;
  font-size: 20px;
}

.yir-footer {
  font-weight: bold;
  text-align: center;

  .yir-footer-address {
    padding: 5px 0 7px;
  }

  .yir-footer-contact {
    background-color: $brand-black;
    color: $brand-white;
    border-bottom: 3px solid $brand-green;
    padding: 5px 0 5px;
  }

  a {
    color: $brand-white;
    font-style: italic;
  }
}
