.video-full-page {
  height: auto;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  // position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;

  @include media-breakpoint-down(md) {
    max-height: 100%;
    min-height: 100vw;
  }
}

.video-full-page-16x9 {
  height: auto;
  left: 50%;
  min-width: 100%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  min-height: 56.25vw;
  height: 100vh;
}
