

// Carousel CSS

#carousel-videos {
  clear: both;
  position: relative;
  /*margin-left: -15px;*/
  /*margin-right: -15px;*/
  /*padding: 15px;*/
  /*border-bottom: 1px solid #ededed;*/
  /*background-color: #FFF;*/
}

#carousel-videos .item {
  min-height: 90px;
}

.carousel-indicators {
  position: absolute;
  bottom: -40px;
}

.carousel-indicators li {
  border-color: #333;
}

.carousel-indicators li.active {
  border-color: #333;
  background-color: #94a545;
}
