

.center {
  text-align: center;
}
body, input, button, select, textarea, .navbar-search .search-query {
  font-family: 'directors_cut_proregular', serif;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height;
}
html, body {
  overflow-x: hidden;
}
p {
  font-size: 15px;
}

.conductor-logo-footer {
  font-family: 'directors_cut_probold';
}
.company-logo h1, .company-logo .h1 {
  font-family: 'directors_cut_probold';
  font-size: 24px;
  line-height: 38px;
}
@media screen and (min-width: 768px) {
  .company-logo h1, .company-logo .h1 { font-size: 30px; }
}
$triangle_size: 40px;
.triangle-left {
  width: 0px;
  height: 0px;
  top: -20px;
  left:-$triangle_size;
  border-top: $triangle_size solid transparent;
  border-bottom: $triangle_size solid transparent;
  border-right: $triangle_size solid $logo-color;
  position: absolute;
}
.triangle-left-black-cover {
  width: 0px;
  height: 0px;
  top: -20px;
  left:-$triangle_size + 1px;
  border-top: $triangle_size solid transparent;
  border-bottom: $triangle_size solid transparent;
  border-right: $triangle_size solid black;
  position: absolute;
}

$container-padding: 15px;
.triangle-left-xs {
  width: 0px;
  height: 0px;
  top: -20px;
  right:0px - $container-padding;
  border-top: $triangle_size solid transparent;
  border-bottom: $triangle_size solid transparent;
  border-right: $triangle_size solid $logo-color;
  position: absolute;
}
.triangle-left-white-xs {
  width: 0px;
  height: 0px;
  top: -20px;
  right:-1px - $container-padding;
  border-top: $triangle_size solid transparent;
  border-bottom: $triangle_size solid transparent;
  border-right: $triangle_size solid $body-bg;
  position: absolute;
}
$triangle_small_size: 20px;
.triangle-right {
  width: 0px;
  height: 0px;
  top: 0px;
  left: -(2 * $triangle_size - $triangle_small_size);
  border-top: $triangle_small_size solid transparent;
  border-bottom: $triangle_small_size solid transparent;
  border-left: $triangle_small_size solid $logo-color;
  position: absolute;
}
.triangle-right-xs {
  width: 0px;
  height: 0px;
  top: 0px;
  right: $triangle_size - $container-padding;
  border-top: $triangle_small_size solid transparent;
  border-bottom: $triangle_small_size solid transparent;
  border-left: $triangle_small_size solid $logo-color;
  position: absolute;
}
.triangle-right-white {
  width: 0px;
  height: 0px;
  top: 0px;
  left:-(2 * $triangle_size - $triangle_small_size + 1);
  border-top: $triangle_small_size solid transparent;
  border-bottom: $triangle_small_size solid transparent;
  border-left: $triangle_small_size solid $body-bg;
  position: absolute;
}
.triangle-right-white-xs {
  width: 0px;
  height: 0px;
  top: 0px;
  right:($triangle_size + 1 - $container-padding);
  border-top: $triangle_small_size solid transparent;
  border-bottom: $triangle_small_size solid transparent;
  border-left: $triangle_small_size solid $body-bg;
  position: absolute;
}
.transparent-box {
  position: absolute;
  background-color: transparent;
  width: 1600 - $triangle_size - $triangle_small_size;
  height: $triangle_size;
  top: 0px;
  left: -1600px;
  border-top: 1px solid $logo-color;
  border-bottom: 1px solid $logo-color;
}
.transparent-box-xs {
  position: absolute;
  background-color: transparent;
  height: 40px;
  top: 0px;
  right: $triangle_size + $triangle_small_size - $container-padding;
  width: 100%;
  border-top: 1px solid $logo-color;
  border-bottom: 1px solid $logo-color;
}
.box-left {
  position: absolute;
  top:-20px;
  left:0px;
  background-color: $logo-color;
  width: 1600px;
  margin-right: -1600px;
  height:80px;
  z-index: -1;
}

.menu-links {
  font-size: 0.8em;
  padding:7px 7px 7px 0px;
  margin-left: -4px;
  position:relative;
}
.menu-links a {
  color:$logo-color;
  padding:0px 4px;
}

@media screen and (min-width: 768px) {
  .menu-links {
    padding-left: 7px;
    margin-left: 0px;
    font-size: 1em;
    background-color:$logo-color;
    color:$body-bg;
  }
  .menu-links a {
    color:$body-bg;
  }
}

.home-video {
  padding-left: 0px;
  padding-right: 0px;
}

@media screen and (min-width: 518px) {
  .home-video {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (min-width: 768px) {
  .home-video {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 1010px) {
  .home-video {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.menu-links a.active {
  text-decoration: underline;
}

.product-links a {
  color: $text-color;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

$video_border_margin: 75px;

.video-container {
  position:relative;
  width:100%;
  margin: $video_border_margin 0
}

.flip-tab-right {
  position: absolute;
  right:0px;
  top: 82px;
  width:47px;
  height:127px;
  background-image: asset-url('splash2/work-tab.png');
  background-repeat:no-repeat;
  color: $body-bg;
}

.flip-tab-right div {
  bottom: 54px;
  right: -2px;
  position: absolute;
  transform:rotate(-90deg);
  -ms-transform:rotate(-90deg); /* IE 9 */
  -webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */
}

.video-frame-with-float {
  position: absolute;
  z-index:-1;
  right:0;
  top: 0;
  overflow:hidden;
  height:230px;
  width: 245px;
  background-color:gray;
}

.video-frame-lower-right-float {
  /*float:left;*/
  position: absolute;
  width: 245px;
  height: 230px;
  margin-right:-70px;
  margin-bottom:-80px;
  top: 0;
  background-image: asset-url('splash2/video-frame-lower-right.png');
}

.video-frame {
  position:absolute;
  width: 245px;
  height:230px;
  background-repeat:no-repeat;
  z-index:-1;
}

.video-frame-upper-left {
  top:-$video_border_margin;
  left:-80px;
  background-image: asset-url('splash2/video-frame-upper-left.png');
}

.video-frame-lower-left {
  width:258px;
  /*width:171px;*/
  height:192px;
  bottom:-$video_border_margin;
  left:0px;
  background-image: asset-url('splash2/video-frame-lower-left-short.png');
}

.video-frame-lower-right {
  bottom:-$video_border_margin;
  right:-80px;
  background-image: asset-url('splash2/video-frame-lower-right.png');
}

@media screen and (min-width: 518px) {
  .video-frame-upper-left {
    left:0px;
  }
  .video-frame-lower-right {
    right:0px;
  }
}

@media screen and (min-width: 690px) {
  .video-frame-lower-left {
    background-image: asset-url('splash2/video-frame-lower-left.png');
  }
}

@media screen and (min-width: 768px) {
  .video-frame-upper-left {
    left:-70px;
  }
  .video-frame-lower-right {
    right:-70px;
  }
  .flip-tab-right {
    right: -27px;
  }
}

@media screen and (min-width: 992px) {
  .flip-tab-right {
    right: 0px;
  }
}

@media screen and (min-width: 1010px) {
  .video-frame-upper-left {
    left:0px;
  }
  .video-frame-lower-right {
    right:0px;
  }
}

.social-links {
  font-size: 0.8em;
}

@media screen and (min-width: 768px) {
  .social-links {
    font-size: 1.0em;
  }
}

.news-text {
  font-size:20px;
  margin-top:30px;
}
.news-text .img-work-tab {
  width: 46px;
  height: 29px;
  background-image: asset-url('news/news-work-tab.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.news-text .img-work-lines {
  width: 772px;
  height: 100px;
  background-image: asset-url('news/news-work-lines.png');
  /*background-size: 100%;*/
  background-repeat: no-repeat;
}
.link-float-box-bottom {
  position:absolute;
  right:-38px;
  bottom:0;
}
.link-float-box-top {
  position:absolute;
  right:-35px;
  bottom:0;
}

@media screen and (min-width: 768px) {
  .news-text { font-size:30px; }
  .news-text .img-work-tab { width: 70px; height: 46px;}
  .link-float-box-bottom { right: -58px;}
  .link-float-box-top { right: -52px;}
  .news-text .img-work-lines { width: 784px; height: 127px; }
}

#shade {
/*  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;*/

  opacity: 0.8;
  filter: alpha(opacity=80);

  position:absolute;
  left:0%;
  top:0%;
  z-index:90;
  width:100%;
  height:100%;
  background-color:$logo-color;
  display:none;
}

.video-thumbnail {
  cursor: pointer;
}

.home-intro-text {
  text-align:center;
  margin:20px 20px;
}

@media screen and (min-width: 768px) {
  .home-intro-text {
    text-align:center;
    margin:20px 80px;
  }
}
