// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul.project-menu {
  list-style: none;
  padding-left: 0px;
}

ul.project-menu > li {
  background-color: black;
  color: white;

  ul {
    list-style: none;
    padding-left: 20px;
    background-color: $body-bg;
    color: $text-color;
  }
}
