.side-menu {
  position: relative;
  margin-left: 20px;
}

.side-menu-header {
  position: relative;
  font-size: 24px;
  background-color: black;
  color: white;
  width: 100%;
  display: inline-block;
}

.side-menu-logo {
  max-height: 65px;
}

.side-menu-header:hover, .side-menu-header:active, .side-menu-header:focus, .side-menu-header.active {
  text-decoration: none;
  font-style: italic;
}

$triangle_size: 17px;
.side-menu-header-triangle {
  width: 0px;
  height: 0px;
  top: 0px;
  left:-$triangle_size;
  border-top: $triangle_size solid transparent;
  border-bottom: $triangle_size solid transparent;
  border-right: $triangle_size solid black;
  position: absolute;
}

.side-menu-sub-menu {
  margin-bottom: 5px;
}

.side-menu-sub-header {
  position: relative;
  font-size: 14px;
  background-color: white;
  color: #333;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: -1px;
  width: 100%;
  display: inline-block;
}

.side-menu-sub-sub-header {
  position: relative;
  font-size: 12px;
  background-color: black;
  color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: -1px;
  width: 100%;
  display: inline-block;
  margin-left: 8px;
}

.side-menu-sub-header:hover, .side-menu-sub-header:active, .side-menu-sub-header:focus, .side-menu-sub-header.active {
  text-decoration: none;
  font-style: italic;
}

.side-menu-sub-sub-header:hover, .side-menu-sub-sub-header:active, .side-menu-sub-sub-header:focus, .side-menu-sub-sub-header.active {
  text-decoration: none;
  font-style: italic;
}

$triangle_small_size: 11px;
.side-menu-triangle-left-sub {
  width: 0px;
  height: 0px;
  top: -1px;
  left: -$triangle_small_size;
  border-top: $triangle_small_size solid transparent;
  border-bottom: $triangle_small_size solid transparent;
  border-right: $triangle_small_size solid black;
  position: absolute;
}
.side-menu-triangle-left-sub-white {
  width: 0px;
  height: 0px;
  top: -1px;
  left: -($triangle_small_size - 1);
  border-top: $triangle_small_size solid transparent;
  border-bottom: $triangle_small_size solid transparent;
  border-right: $triangle_small_size solid white;
  position: absolute;
}

$triangle_small_size: 9px;
.side-menu-triangle-left-sub-sub {
  width: 0px;
  height: 0px;
  top: -1px;
  left: -$triangle_small_size;
  border-top: $triangle_small_size solid transparent;
  border-bottom: $triangle_small_size solid transparent;
  border-right: $triangle_small_size solid black;
  position: absolute;
}
