
// Layout: Application
$footer-height: 60px;


// Layout: Application Login
$footer-image-offset: 50px;
$footer-image-height: 527px;
$footer-image-right-width: 290px;
$footer-login-height: $footer-image-height - $footer-image-offset;


