- @title = "Version"

= render 'welcome/header'

.container
  %h1 Version

  .text-center{ style: 'margin-top:40px' }
    %p.lead
      Current version
      %strong= WwwConductorproductionsCom::VERSION::STRING
