.yir-footer
  .yir-footer-address
    .container
      CONDUCTOR PRODUCTIONS
      %span.d-none.d-md-inline= "|"
      %br.d-inline.d-md-none
      142 Berkeley St Fl 2 Boston, MA 02116
  .yir-footer-contact
    .container
      Contact us at
      = mail_to "info@conductorproductions.com", "info@conductorproductions.com"
      or 617.262.1400
