%nav.navbar.navbar-expand-lg.navbar-dark.background-brand-black
  .container
    = link_to "Conductor Productions", root_path, class: "navbar-brand"

    %button.navbar-toggler{ type: "button", data: { toggle: "collapse", target: "#menu-body" }, aria: { controls: "menu-body", expanded: "false", label: "Toggle navigation" } }
      %span.navbar-toggler-icon

    #menu-body.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        = render "menu/item", title: "Directors and Creators", path: team_path, icon: "bullhorn"
        = render "menu/item", title: "Services", path: services_path, icon: "cubes"
        = render "menu/item", title: "Contact", path: contact_path, icon: "envelope-o"
