.container
  .company-logo
    %div{ style: 'position: relative;' }
      .triangle-right-xs{ style: 'border-left-color: #fff;'}
      .transparent-box-xs{ style: 'border-color: #fff;' }
      .triangle-left-xs{ style: 'border-right-color: #fff;'}
      - if false
        .triangle-left-white-xs

      %h1 CONDUCTOR
